.field {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
}

.field label {
  text-transform: capitalize;
  margin-bottom: .3rem;
}

select {
  padding: .6rem .8rem;
  font-size: 1rem;
  border: 1px solid #CCC;
  // height: 2em;
  border: 1px solid var(--strong-border-color);
  border-radius: var(--radius);
}

.input {
  /* margin-right: 1rem; */
  font-size: 1rem;
  padding: .6rem .8rem;
  border: 1px solid var(--strong-border-color);
  border-radius: var(--radius);
  background-color: inherit;
}

.input:focus {
  outline: none;
  background-color: inherit;
  /* filter: drop-shadow(0 1px 2px var(--border-color)); */
}
