.product-card {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;

  &__img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
  }

  &__title {
    font-weight: 300;
  }
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.product-form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  &__card {
    display: flex;
  }

  &__img {
    height: 500px;
    width: 250px;
  }

  &__content {
    margin-left: 2rem;
  }

  &__title {
    margin-top: 4rem;
  }

  &__description {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.submit-order {
  margin: 0 auto;
}

.btn--quantity {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  background-color: inherit;

  &:hover {
    color: white;
    background-color: var(--highlight-color);
  }
}

.quantity-display {
  padding-inline: 0.5em;
  font-size: 1.5rem;
}

.order-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  &__quantity {
    margin-bottom: 1rem;
  }
}

.property-card {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  padding: 1rem;

  &__property-title {
    margin-right: 1rem;
  }

  &__values {
    margin-bottom: 0.5rem;
  }

  &__value {
    margin-bottom: 0.5rem;

    &__input {
      margin-right: 1rem;
    }
  }
}

.field.values-feild {
  margin-bottom: unset;
}
