@import './variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page--center {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background-color: white;
  color: unset;
  text-decoration: none;
  padding: .6rem 1.2rem;
  text-align: center;
}

.btn:hover {
  color: white;
  background-color: var(--highlight-color);
  outline: none;
}

.btn--main {
  color: white;
  border-color: var(--highlight-color);
  background-color: var(--highlight-color);
}

.btn--main:hover {
  color: var(--highlight-color);
  background-color: unset;
}

.admin-list {
  margin-top: 1rem;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 .5rem 0;
    border-bottom: 1px solid var(--border-color);
    min-height: 2.5rem;

    &:hover {
      background-color: var(--light-gray);
    }
  }

  &__content {
    padding-inline: .5rem;
  }

  &__actions {
    margin-left: auto;
  }
}
